{% extends "base.html" %}

{% load human_size %}

{% block title %}Page not found{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">
                    <h3>Whatever you're looking for, it's not here</h3>

                    <p>
                    The image or page or whatever you want isn't here. Maybe it never was. Maybe nothing is.
                    </p>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
