{% extends 'base.html' %}

{% block content %}

<!--begin services section -->
<section class="section-grey section-top-border" id="features">

<!--begin container -->
<div class="container blog">

    <!--begin row -->
    <div class="row">

        <!--begin col-md-8-->
        <div class="col-md-8 offset-md-2 text-center padding-bottom-10 left-text">
{% include page_template %}
        </div>
        <!--end col-md-12 -->

    </div>
    <!--end row -->

</div>
<!--end container -->

</section>
<!--end services section -->
{% endblock %}
